h2 {
  font-size: 0.8em;
  font-weight: 400;
  color: #8e8e8e;
}

p {
  font-size: 1em;
}

.messanger {
  text-align: center;
}

.messanger-form {
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin-left: 5%;
}

.messanger-formControl {
  flex-direction: row !important;
  align-items: center;
}

.MuiCard-root {
  box-shadow: none !important;
}

.message {
  margin: 10px;
  width: fit-content;
}

.message-user {
  margin-left: auto;
  text-align: left !important;
}

.message-userCard {
  background-color: rgb(0, 132, 255) !important;
  color: white !important;
  border-radius: 18px !important;
}

.message-userCard p {
  color: #efefef !important;
}

.message-guestCard {
  text-align: left;
  background-color: #e9e9eb !important;
  border-radius: 18px !important;
}

.MuiCardContent-root {
  padding: 10px 12px !important;
}

.MuiIconButton-colorPrimary,
.MuiFormLabel-root.Mui-focused {
  color: rgb(0, 132, 255) !important;
}

.MuiIconButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent;
}

.MuiCard-root {
  word-wrap: break-word;
}
